body {
    background: url(../img/cream_dust.png);
}

#introbox {
    text-align: center;
}

#introbox h1 {
    font-size: 60px;
    line-height: 60px;
}

#username, #password {
    margin-bottom: 10px;
    outline-width: 0;
    border-color: #ccc;
}

#username:focus, #password:focus {
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}