body {
    background: url(../img/cream_dust.png);
}

#introbox {
    text-align: center;
}

#introbox h1 {
    font-size: 70px;
    line-height: 70px;
}

#username, #password {
    margin-bottom: 10px;
    outline-width: 0;
    border-color: #ccc;
}

#username:focus, #password:focus {
    -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
}

.piles {
    margin-top: 1em;
    height: 300px;
}

hr {
    margin: 0;
    border-top-color: #eee;
    border-bottom-color: #fff;
}