{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}

{% block head %}
{% load staticfiles %}
<script src="{% static "js/stash.js" %}"></script>
{% endblock %}

{% block content %}
<div class="span12">
    {{ name }}<br>
    <p>Curators: {% for user in curators %} {{ user.name }} {% endfor %}</p>
    <p>Readers: {% for user in readers %} {{ user.name }} {% endfor %}</p>
</div>

<div class="span6 links">
  {% for entry in content %}
  <div class="link" onClick="preview({{ entry.link }})">
      <p><span class="lead"><a href="{{ entry.link }}">{{ entry.title }}</a></span><br>
      {{ entry.link }} <span class="muted">{{ entry.date_posted }}</span></p>
  </div>
  {% endfor %}
</div>

<div class="span6 preview">
  <iframe id="previewing"></iframe>
</div>

<div id="createPostForm" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 id="createPostHeader" class="inlineCenter">Add a Post</h2>
  </div>
  <div id="createPostBody" class="modal-body">
    <form class="form-inline" method="post" action="javascript:dummy()">
      <input type="text" class="input-small" autocomplete="off" name="postName" placeholder="untitled post" autofocus  id="postName"><br>
      <input type="text" class="input-small" autocomplete="off" name="postURL" placeholder="url" id="postURL"><br>
      <button class="btn" id="createPost" type="submit" onClick="javascript:createPost()"><i class="icon-plus icon-white"></i></button>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
{% endblock %}

{% block endbody %}
<script>
  $('#createPostForm').modal('hide');
</script>
{% endblock %}
