{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}

{% block head %}
{% load staticfiles %}
<script src="{% static "js/stash.js" %}"></script>
{% endblock %}

{% block content %}
<div class="span12">
    {{ name }}<br>
    <p>Curators: {% for user in curators %} {{ user.name }} {% endfor %}</p>
    <p>Readers: {% for user in readers %} {{ user.name }} {% endfor %}</p>
</div>

<div class="span6 links">
  {% for entry in content %}
  <div class="link" onClick="preview({{ entry.link }})">
      <p><span class="lead"><a href="{{ entry.link }}">{{ entry.title }}</a></span><br>
      {{ entry.link }} <span class="muted">{{ entry.date_posted }}</span></p>
  </div>
  {% endfor %}
</div>

<div class="span6 preview">
  <iframe id="previewing"></iframe>
</div>
{
