{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{% load staticfiles %}
<script src="{% static "js/main.js" %}"></script>
{% endblock %}

{% block content %}
<div id="introbox">
  <h1>Stash</h1><br>
  <form class="form-inline" method="post" action="#">
    <input type="text" class="input-medium" autocomplete="off" name="username" placeholder="username" autofocus  id="username"><br>
    <input type="text" class="input-medium" autocomplete="off" name="password" placeholder="password"  id="password"><br>
    <button class="btn btn-info" id="search_button" type="submit"><i class="icon-circle-arrow-right icon-white"></i></button>
  </form>

</div>
{% endblock %}

{% block endbody %}
{% endblock %}
