{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{% load staticfiles %}
<script src="{% static "js/main.js" %}"></script>
{% endblock %}

{% block content %}
<div id="introbox">
  <h1>Stash</h1>
  <form class="form-inline" method="post">
    <input type="text" class="input-medium" autocomplete="off" name="username" placeholder="username" autofocus  id="username"><br>
    <input type="password" class="input-medium" autocomplete="off" name="password" placeholder="password"  id="password"><br>
    <button class="btn btn-info" id="signup" type="submit" onClick="javascript:submitSignup()"><i class="icon-circle-arrow-up icon-white"></i> Sign Up</button>
    <button class="btn btn-primary" id="login" type="submit" onClick="javascript:submitLogin()"><i class="icon-circle-arrow-right icon-white"></i> Log In</button>
  </form>
  <p id="message" class="text-error"></p>
</div>
{% endblock %}

{% block endbody %}
{% endblock %}
