{% extends "user_base.html" %}
{% block title %}User: {{ name }}{% endblock %}
{% block user %}{{ name }}{% endblock %}

{% block content %}

<div class="row-fluid">
  <div id="mystashes" class="piles span6">
    <p><span class="lead">My Stashes</span>    
      <span class="pull-right"><button class="btn btn-inverse" id="create-stash" type="submit" onClick="javascript:$('#createStashForm').modal('show')"><i class="icon-plus icon-white"></i></button></span></p>
    <hr>
    {% for stash in stashes %}
    <p><a href="../stash/{{ stash.id }}">{{ stash.name }}</a></p>
    <!-- <p> -->
    <!--   {% for i in range %} -->
    <!--       {{ stash.contents.all.i.title }}<br> -->
    <!--       <a href="{{ stash.contents.all.i.link }}">{{ stash.contents.all.i.link }}</a> -->
    <!--       <span class="muted">{{ stash.contents.all.i.date_posted }}</span> -->
    <!--   {% endfor %} -->
    <!-- </p> -->
    {% endfor %}
  </div>

  <div id="myheaps" class="piles span6">
    <p><span class="lead">My Heaps</span>    
      <span class="pull-right"><button class="btn btn-inverse" id="create-heap" type="submit" onClick="javascript:$('#createHeapForm').modal('show')"><i class="icon-plus icon-white"></i></button></span></p>
    <hr>
    {% for heap in heaps_write %}
    <p><a href="../heap/{{ heap.id }}">{{ heap.name }}</a></p>
    <!-- <p> -->
    <!--   {% for i in range %} -->
    <!--   {{ heap.contents.all.i.title }}<br> -->
    <!--   <a href="{{ heap.contents.all.i.link }}">{{ heap.contents.all.i.link }}</a> -->
    <!--   <span class="muted">{{ heap.contents.all.i.date_posted }}</span> -->
    <!--   {% endfor %} -->
    <!-- </p> -->
    {% endfor %}
  </div>
</div>
<hr>
<div class="piles">
    <p><span class="lead">My Subscriptions</span></p>
    {% for heap in heaps_read %}
    <p><a href="../heap/{{ heap.id }}">{{ heap.name }}</a></p>
    <!-- <p> -->
    <!--     {% for i in range %} -->
    <!--     {{ heap.contents.all.i.title }}<br> -->
    <!--     {{ heap.contents.all.i.link }} -->
    <!--     <span class="muted">{{ heap.contents.all.i.date_posted }}</span> -->
    <!--     {% endfor %} -->
    <!-- </p> -->
    {% endfor %}
</div>

<div id="createStashForm" class="modal hide fade">
  <div class="modal-header">
    <span class="pull-right"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></span>
    <h2 id="createStashHeader" class="inlineCenter">Create a Stash</h2>
  </div>
  <div id="createStashBody" class="modal-body">
    <form class="form-inline" method="post" action="javascript:dummy()">

      <input type="text" class="input-small" autocomplete="off" name="stashName" placeholder="untitled stash" autofocus  id="stashName"><br>
      <span class="pull-right"><button class="btn btn-inverse" id="createNewStash" type="submit" onClick="javascript:createStash(); $('#createStashForm').modal('hide')"><i class="icon-plus icon-white"></i></button></span>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div id="createHeapForm" class="modal hide fade">
  <div class="modal-header">
    <span class="pull-right"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></span>
    <h2 id="createHeapHeader" class="inlineCenter">Create a Heap</h2>
  </div>
  <div id="createHeapBody" class="modal-body">
    <form class="form-inline" method="post" action="javascript:dummy()">
      <input type="text" class="input-small" autocomplete="off" name="heapName" placeholder="untitled heap" autofocus id="heapName"><br>
      <input type="checkbox" name="heapVisibility" value="true" id="heapVisibility"><br>
      <label for="heapVisibility">Allow this heap to be searchable?</label>
      <span class="pull-right"><button class="btn btn-inverse" id="createNewHeap" type="submit" onClick="javascript:createHeap(); $('#createHeapForm').modal('hide')"><i class="icon-plus icon-white"></i></button></span>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
{% endblock %}

{% block endbody %}
<script>
  $('#createStashForm').modal('hide');
  $('#createHeapForm').modal('hide');
</script>
{% endblock %}
